html {
    height: 100%;
}

body{
    background-image: linear-gradient(to right, #126F80, #f95151, #525E76); 
    display: flex;
    justify-content: center; 
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover; 
    

}

.uk-card {
    color: #eeeeee;
    display: block;
    margin: auto;
    border-radius: 0px 0px 0px 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
                0 2px 4px 0 rgba(0,0,0,0.08);
    padding-top: -50px;
    
    

img {
    float: left;
}


#event1, #event4, #event7, #event10 {
    background-color: #126F80;
}

#event2, #event5, #event8 {
    background-color: #525E76;
}

#event3, #event6, #event9 {
    background-color: #f95151;
} 