html {
    height: 100%;
    /* color: #eeeeee !important; */
}

body{
    background-image: linear-gradient(to right, #126F80, #f95151, #525E76); 
    display: flex;
    justify-content: center; 
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover; 

}

.uk-card {
    color: #eeeeee;
    display: block;
    margin: auto;
    border-radius: 0px 0px 0px 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
                0 2px 4px 0 rgba(0,0,0,0.08);
    margin-top: -50px;
    padding-top: 50px;
    
}

img {
    float: left;
}

#rest1 {
    z-index: 1000;
}

#rest2 {
    z-index: 900;
}
#rest3 {
    z-index: 800;
}
#rest4 {
    z-index: 700;
}
#rest5 {
    z-index: 600;
}
#rest6 {
    z-index: 500;
}
#rest7 {
    z-index: 400;
}
#rest8 {
    z-index: 300;
}
#rest9 {
    z-index: 200;
}

#rest10 {
    z-index: 100;
}


#rest1, #rest4, #rest7, #rest10 {
    background-color: #126F80;
}

#rest2, #rest5, #rest8 {
    background-color: #525E76;
}

#rest3, #rest6, #rest9 {
    background-color: #f95151;
} 