html {
    height:100%;
}
body{
    /* background-color: aqua; */
    background-image: url(../images/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uk-form-label {
    color: #eeeeee;
}

#search-button {
    background-color: #126f80;
    color: #eeeeee;
}