body {
    background: url(../images/bg-image.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .uk-form-label {
    color: #eeeeee;
} */

#search-button {
  background-color: #126f80;
  color: #eeeeee;
}

.algolia-places {
    background: none;
}

input::placeholder {
    font-style: italic;
    color: #EEE;
}

input, #location-input {
    padding: 7px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #777;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 10px;
}

#search-button {
    padding: 5px;
    border-radius: 10px;
}

.error-highlight {
    border: 3px solid #FF0000C0 !important;
}

label {
    display: block;
}